<div id="basic_auth_container" class="auth_container pt-3">
    <label class="auth_label text-uppercase">Basic Auth:</label>
    <div class="form-group">
        <input placeholder="username" class="auth_input form-control form-control-sm" id="input_username" name="username" type="text"/>
    </div>
    <div class="form-group">
        <input placeholder="password" class="auth_input form-control form-control-sm" id="input_password" name="password" type="password"/>
    </div>
    <button id="apply_basic_auth" class="btn btn-sm btn-secondary float-right mb-3" type="button">Apply</button>
  </div>
</div>
