<div id="apikeys" class="auth_container form-group pt-3">
    <label class="auth_label text-uppercase" for="input_{{name}}">Bearer Authentication:</label>
    <div class="input-group input-group-sm">
        <input id="input_bearer" placeholder="Enter your access token" class="auth_input form-control" name="input_bearer" type="text"/>
        <div class="input-group-append">
            <button id="apply_bearer" class="auth_submit_button btn btn-secondary">Apply</button>
        </div>
    </div>
</div>