<div id="swagger_sidebar" class="col-lg-3 col-xl-2 sps sps--abv">
    <div id="auth_main_container" class="collapse {{showAuth securityDefinitions}}">
        <div class="row bg-light">
            <div class="col-12">
                <button type="button" class="close d-sm-block d-lg-none" data-toggle="collapse" data-target="#auth_main_container">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div id="auth_options">
                </div>
            </div>
        </div>
    </div>
    <div id="sticky_nav_wrapper" class="sticky-top collapse mb-3">
        <div id="sticky_nav" class="pt-2 pb-2">
            <div class="row" data-navigator>
                <div id="resources_nav" data-children=".parent_menu">
                    <nav class="nav flex-column d-lg-none {{showAuth securityDefinitions}}">
                        <a href="#auth_main_container" class="nav-link" data-toggle="collapse">Swagger Resource</a>
                    </nav>
                    <div class="col-12 d-none d-lg-block"><label class="text-uppercase mt-3 mb-0">API Reference</label></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="resources_container" class="col-lg-9 col-xl-10">
    <div id="resources" class=""></div>
</div>
